<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/map.css" media="screen" />
  </head>


  <body>
    <div id="content">
      <div id="mapdiv"></div>
      <div id="controls">
        <h2> Filters</h2>
        <div id="display-type" class="filter">
         None: <input type="radio" name="group1" value="none" onclick="removeLayers();"><br />
         Show Markers: <input type="radio" name="group1" value="markers" onclick="addMarkers();"><br />
         Show Heat Map: <input type="radio" name="group1" value="heatmap" onclick="addHeatMap();">
       </div>
       <br>
       <form action="/map/" method="post">{% csrf_token %}
       <div id="heat-filters" class="filter">
         <h3> Heat Filters:</h3>
         Radius: <input type="range" min="0" max="30" value=filterVars.radius name="radius" onchange="showValue(this.value, 'radius'); assembleHeatSpots(this.value, filterVars.max, null, 1)">
         <span id="radius">0</span></ br>
         <br>

         Max: <input type="range" min="1" max="20" value="filterVars.max" name="max" onchange="showValue(this.value, 'max'); assembleHeatSpots(filterVars.radius, this.value, null, 1)">
         <span id="max">0</span></ br>
       </div>

       <div id="tod" class="filter">
         <h3> Time Filters:</h3>
         Time of Day: <input type="range" min="0" max="23" value="0" name="time" onchange="showValue(this.value); buildHeatmap(map, layer, {time: this.value});">
      <span id="range">0</span></ br>
       </div>
       
       <div id="community" class="filter">
         <h3>Neighborhood:</h3>
         <input type="checkbox" name="hyde-park" value="hyde-park"> Hyde Park <br>
         <input type="checkbox" name="kenwood" value="kenwood"> Kenwood<br>
         <input type="checkbox" name="woodlawn" value="woodlawn"> Woodlawn<br>
         <input type="checkbox" name="wash-park" value="wash-park"> Washington Park<br>
       </div>
       
       <div id="crime-type" class="filter">
       
       </div>
       <input type="submit" value="reload">
     </form>

    
      <!--<div id="TodSlider" style="DISPLAY: none">-->
      <!--Number of crimes: <span id="crime_num">0<span></ br>-->
    </div>
    <br />
  </div>
</div>




  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script type="text/javascript" src="/static/heatmap.js"></script> 
  <script type="text/javascript" src="/static/heatmap-openlayers.js"></script>
  <script type="text/javascript">

    // global variables
  var map, layer, heatmap, vectorLayer, heatSpots

  var filterVars = {
  // used to store values currently on map
     max: 5,
     radius: 20,
     time: null,
  }


// creates and loads the map
mainMap = new OpenLayers.Map("mapdiv");
mainLayer = new OpenLayers.Layer.OSM();
mainMap.addLayer(mainLayer);

vectorLayer = new OpenLayers.Layer.Vector("Overlay");

epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
projectTo = mainMap.getProjectionObject(); //The map projection (Spherical Mercator)

var position = new OpenLayers.LonLat( -87.595 ,41.7932 ).transform(epsg4326, projectTo);

var zoom = 15;
mainMap.setCenter (position, zoom);

assembleHeatSpots(20, 5, null);
crimeMarkers = loadMarkers();


function buildHeatmap(radius){
      // heatmap step 1:
      // creates a new heat map with given args (a dict)
      // default args - replaces with new args
      defaultRadius = 20;

      if (radius) {
        defaultRadius = radius;
        // changes the global varialbes for contenuity
        filterVars.radius = radius;
      }

      // overwrites the global variable 'heatmap' with a new heatmap layer
      heatmap = new OpenLayers.Layer.Heatmap( "Heatmap Layer", mainMap, mainLayer, {visible: true, radius: defaultRadius}, {isBaseLayer: false, opacity: 0.3, projection: new OpenLayers.Projection("EPSG:4326")});
    }


function buildHeatSpots(time, max) {
      // heatmap step 2: 
      // creates a list of heatspots, based on given args

    var crimeData = [];

    {% for crime in crimes %}
      skip = "false";
    // adds each crime to crimeSpots Array
    if (time && time != "{{ crime.date.hour }}")
    {
        skip = "true";
    }

    if (skip != "true") {
    crimeData.push({
        lonlat: new OpenLayers.LonLat({{ crime.longitude }}, {{ crime.latitude }}),
        count: 1,
        time: "{{ crime.date.hour }}",
        month: "{{ crime.date.month }}",
        })
    }
    {% endfor %}

    // resets global variable heatSpots
    heatSpots = {
      max: max,
      data: crimeData,
    }
    // resets global variables
    filterVars.max = max;
    filterVars.time = time;
}



function assembleHeatSpots(radius, max, time, display) {
  // heatmap setp 3
  // combines all parts of heatspots process and lays a new heatmap on the map.
  if (heatmap) {
  mainMap.removeLayer(heatmap);
  }

  buildHeatmap(radius);
  buildHeatSpots(time, max);
  heatmap.setDataSet(heatSpots);

  if (display) {
  mainMap.addLayer(heatmap);
  }
}







// Loads Markers Layer
    function loadMarkers() {

    var crimeMarkers = new Array();

    {% for crime in crimes %}
    var feature = new OpenLayers.Feature.Vector(
    new OpenLayers.Geometry.Point( {{ crime.longitude }} ,{{ crime.latitude }}).transform(epsg4326, projectTo),
    {description:  'Crime Type:  {{ crime.crime_type }} <br> Description: {{crime.description}} <br> Date:  {{crime.date}} <br> Case Number: {{crime.case_num}} <br> Latitude: {{crime.latitude}} <br> Longitude: {{crime.longitude}}', time: "{{ crime.date.hour}}" },
        {externalGraphic: '/static/marker.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25  }
        );
    crimeMarkers.push(feature);
    {% endfor %}

    vectorLayer.addFeatures(crimeMarkers);

    //Add a selector control to the vectorLayer with popup functions
    var controls = {
      selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
    };

    map.addControl(controls['selector']);
    controls['selector'].activate();


    return crimeMarkers;
    }


    function removeLayers() {
        mainMap.removeLayer(vectorLayer);
        mainMap.removeLayer(heatmap);
      }

    function addHeatMap() {
       mainMap.addLayer(heatmap);
    }

    function addMarkers() {
      mainMap.addLayer(vectorLayer);
    }



      function showValue(newValue, divId)
      {
       document.getElementById(divId).innerHTML=newValue;
      }


    

    


      function createPopup(feature) {
        feature.popup = new OpenLayers.Popup.FramedCloud("pop",
            feature.geometry.getBounds().getCenterLonLat(),
            null,
            '<div class="markerContent">'+feature.attributes.description+'</div>',
            null,
            true,
            function() { controls['selector'].unselectAll(); }
        );
        //feature.popup.closeOnMove = true;
        map.addPopup(feature.popup);
      }

      function destroyPopup(feature) {
        feature.popup.destroy();
        feature.popup = null;
      }



    function filterOnTime(time) {
      vectorLayer.removeFeatures(crimeMarkers);
      for (i=0; i<crimeMarkers.length; i++) {
        if (crimeMarkers[i].attributes.time == time)
        {
        vectorLayer.addFeatures(crimeMarkers[i]);
        }
      }
    }

    function showCrime() {
      document.getElementById("crime_num").innerHTML=vectorLayer.features.length;
    }

    function ShowHide(divId)
    {
    if(document.getElementById(divId).style.display == 'none')
    {
    document.getElementById(divId).style.display='block';
    }
    else
    {
    document.getElementById(divId).style.display = 'none';
    }
    }

  </script>
</body></html>
